@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  min-height: 100vh;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: $light-grayish-blue;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 35px;
  border-radius: 10px;

  .user-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 18px;

    img {
      width: 33px;
      height: 33px;
      border-radius: 100%;
    }

    span {
      font-size: 15px;
    }
  }

  h2 {
    font-size: 20px;
  }

  label {
    opacity: 50%;
  }

  p {
    line-height: 18px;
    opacity: 70%;
  }
}

#card1 {
  grid-column: span 2;
  color: $white;
  background-color: $moderate-violet;
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: 90% 0;

  img {
    border: 2px solid #a775f1;
  }
}

#card2 {
  color: $white;
  background-color: $very-dark-grayish-blue;
}

#card3,
#card5 {
  color: $very-dark-blackish-blue;
  background-color: $white;
}

#card4 {
  grid-column: span 2;
  color: $white;
  background-color: $very-dark-blackish-blue;

  img {
    border: 2px solid $moderate-violet;
  }
}

#card5 {
  grid-column: 4;
  grid-row: 1 / span 2;
}
